{% extends 'base.html' %}

{% block cake %}

    <!-- Page Header Start -->
    <div class="container-fluid bg-dark bg-img p-5 mb-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-uppercase text-white">Menu & Pricing</h1>
                <a href="{% url 'cake:index' %}">Home</a>
                <i class="far fa-square text-primary px-2"></i>
                <a href="{% url 'cake:menu' %}">Menu & Pricing</a>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Products Start -->
    <div class="container-fluid about py-5">
        <div class="container">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                <h2 class="text-primary font-secondary">Menu & Pricing</h2>
                <h1 class="display-4 text-uppercase">Explore Our Cakes</h1>
            </div>

                <div class="tab-content">  
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-3">
                            {% for i in contex %}
                            <div class="col-lg-6">
                                <div class="d-flex h-100">
                                    <div class="flex-shrink-0">
                                        <img class="img-fluid" src="{{i.cake_img.url}}" alt="" style="width: 150px; height: 85px;">
                                        <h4 class="bg-dark text-primary p-2 m-0">${{i.price}}</h4>
                                    </div>
                                    <div class="d-flex flex-column justify-content-center text-start bg-secondary border-inner px-4">
                                        <h5 class="text-uppercase">{{i.title}}</h5>
                                        <span>{{i.descri}}</span>
                                        <a href="{% url 'cake:single' slug=i.slug %}" class="btn btn-success w-100">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Products End -->



    {% endblock cake %}